.grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      clear: both;
}
.header-wrapper {
      padding: 0 13rem;
      background: black;
}
.content-wrapper {
      padding: 0 13rem;
      background: white;
}
.header {
      background-position: 0 1rem;
      min-height: 60px;
      grid-column: span 12;
}
  #quarkus-logo-svg {
      width: 200px;
      height: 30px;
      padding-top: 1rem;
}
.banner {
      grid-column: span 12;
      padding: 2rem 0;
}
.callout {
      color: white;
      font-size: 3.5rem;
      margin: 0;
      padding-top: 5rem;
      grid-column: span 8;
}
.app-details {
      margin: 1rem 0;
      border: 1px solid lightgrey;
      padding: 1rem;
      background: white;
      font-size: .75rem;
      font-weight: 300;
      grid-column: span 4;
}
.app-details code { font-size: 87.5%; }
.app-details ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
}
.app-details ul li { margin-bottom: 0.2rem; }
.app-details h5 {
      margin: 0;
      padding: 0;
}
.left-column {
      grid-column: span 8;
      padding-right: 3rem;
}
.left-column p {
      padding: .15rem 0;
      margin: 0;
      font-weight: 300;
}
.left-column ul {
      margin: 0;
      padding: 10px 0 0 25px;
      list-style-type: "\1F680";
      font-weight: 300;
}
.left-column li {
      padding-left: 10px;
  }
.left-column .cta-button {
      margin: 20px 0;
      display: inline-block;
      padding: 1rem 2rem;
      background-color: #4695EB;
      font-weight: 600;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
}
.right-column {
      grid-column: span 4;
      margin-top: 1rem;
      font-weight: 200;
}
.right-column h5 {
      padding: 1rem 0 .25rem 0;
      margin: 0;
      font-weight: 300;
}
.right-column h3 {
      font-weight: 400;
  }
.right-column ul {
      margin: 0;
      list-style-type: circle;
}
.right-column li {
      padding: .5rem 0 0 0;
}
.provided-code {
      line-height: 20px;
}
.provided-code b {
      font-weight: 400;
      margin-bottom: 15px;
}
