body {
      margin: 0;
      font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
  code {
      font-family: "Courier New", monospace;
      color: #e83e8c;
      word-break: break-word;
}
  h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5rem;
      font-weight: 400;
      line-height: 1.5;
}
h1 {
      font-size: 2.25rem;
}
h2 {
      font-size: 1.6rem;
}
h3 {
      font-size: 1.5rem;
}
h4 {
      font-size: 1.4rem;
}
h5 {
      font-size: 1.25rem;
}
h6 {
      font-size: 1rem;
}
p {
      padding: .15rem 0;
      margin: 0;
      line-height: 1.3rem;
}
a {
      text-decoration: underline;
      color: #15a;
}
a:hover, a:active {
      color: #c00;
}
